<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h3> {{ controller()?.id }} : {{controller()?.name }} </h3>
  </mat-expansion-panel-header>
  <div align="center" class="channel_list">
    <table>
      <tr>
        @for (controller_channel of controller()?.channels; track $index) {
          <td>
            <app-channel
              [(channelName)]="controller_channel['name']"
              [(channelNo)]="controller_channel['number']"
              [(channelEnabled)]="controller_channel['state']"
              [buttonColor]="controller_channel['state'] ? 'green' : 'red'"
              [controllerId]="controller()!.id"
              >
            </app-channel>
          </td>
        }
      </tr>
    </table>
  </div>
  <mat-action-row align="center">
    <button mat-button (click)="toggleAllOn()">All On</button>
    <button mat-button (click)="toggleAllOff()">All Off</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
